
<div class="nav-left">
  <div class="nav-left-item">
    <a
      href="https://www.linkedin.com/in/courtney-carson-dev"
      class="nav-left-link"
      >LI</a
    >
  </div>
  <div class="nav-left-item">
    <a href="https://github.com/courtneycarson" class="nav-left-link">GH</a>
  </div>
  <div class="nav-left-item">
    <a href="https://dribbble.com/waller_texas" class="nav-left-link">EM</a>
  </div>
  <div class="nav-line"></div>
  <div class="nav-left-item nav-copyright">
    <div class="copyright">©/2023</div>
  </div>
</div>